// Colors

$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: transparentize($DarkShade100, 0.25);
$DarkShade50: transparentize($DarkShade100, 0.5);
$DarkShade25: transparentize($DarkShade100, 0.75);
$DarkShade5: transparentize($DarkShade100, 0.95);
$Primary: rgba(188, 156, 255, 1);
$Secondary: rgba(111, 207, 151, 1);

// Gradient

$PrimaryGradient: linear-gradient(180deg, $Primary 0%, #8BA4F9 100%);
$SecondaryGradient: linear-gradient(180deg, $Secondary 0%, #66D2EA 100%);

$color-map: (
    dark100: $DarkShade100,
    dark75: $DarkShade75,
    dark50: $DarkShade50,
    dark25: $DarkShade25,
    dark5: $DarkShade5,
    primary: $Primary,
    secondary: $Secondary,
    primaryGr: $PrimaryGradient,
    secondaryGr: $SecondaryGradient,
);

// Font

$H1Font: 24px/30px bold 'Quicksand';
$H2Font: 19px/24px bold 'Quicksand';
$H3Font: 12px/15px bold uppercase 'Montserrat';
$HColor: $DarkShade100;
$Font: 14px/24px 'Montserrat';
$FontColor: $DarkShade75;

// 
