// Colors

$DarkShade100: #1f2041;
$DarkShade75: #575871;
$DarkShade50: #8f90a0;
$DarkShade25: #c7c7d0;
$DarkShade5: #f4f4f6;
$Primary: #bc9cff;
$Secondary: #6fcf97;

// Font

$H1Font: 24px/30px bold 'Quicksand';
$H2Font: 19px/24px bold 'Quicksand';
$H3Font: 12px/15px bold uppercase 'Montserrat';
$HColor: $DarkShade100;
$Font: 14px/24px 'Montserrat';
$FontColor: $DarkShade75;
// 
