@import 'variable';
@import 'fonts';

body{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    color: $FontColor;
    font: $Font;
}

%h{
    color: $HColor;
}

h1{
    font: $H1Font;
    @extend %h;
}

h2{
    font: $H2Font;
    @extend %h;
}

h3{
    font: $H3Font;
    @extend %h;
}