@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Light"), local("Quicksand-Light"), url("../fonts/quicksand/quicksandlight.woff2") format("woff2"), url("../fonts/quicksand/quicksandlight.woff") format("woff"), url("../fonts/quicksand/quicksandlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Light Italic"), local("Quicksand-LightItalic"), url("../fonts/quicksand/quicksandlightitalic.woff2") format("woff2"), url("../fonts/quicksand/quicksandlightitalic.woff") format("woff"), url("../fonts/quicksand/quicksandlightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/quicksand/quicksandregular.woff2") format("woff2"), url("../fonts/quicksand/quicksandregular.woff") format("woff"), url("../fonts/quicksand/quicksandregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Italic"), local("Quicksand-Italic"), url("../fonts/quicksand/quicksanditalic.woff2") format("woff2"), url("../fonts/quicksand/quicksanditalic.woff") format("woff"), url("../fonts/quicksand/quicksanditalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/quicksand/quicksandbold.woff2") format("woff2"), url("../fonts/quicksand/quicksandbold.woff") format("woff"), url("../fonts/quicksand/quicksandbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold Italic"), local("Quicksand-BoldItalic"), url("../fonts/quicksand/quicksandbolditalic.woff2") format("woff2"), url("../fonts/quicksand/quicksandbolditalic.woff") format("woff"), url("../fonts/quicksand/quicksandbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url("../fonts/montserrat/montserrathairline.woff2") format("woff2"), url("../fonts/montserrat/montserrathairline.woff") format("woff"), url("../fonts/montserrat/montserrathairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat/montserratlight.woff2") format("woff2"), url("../fonts/montserrat/montserratlight.woff") format("woff"), url("../fonts/montserrat/montserratlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/montserrat/montserrat.woff2") format("woff2"), url("../fonts/montserrat/montserrat.woff") format("woff"), url("../fonts/montserrat/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat/montserratbold.woff2") format("woff2"), url("../fonts/montserrat/montserratbold.woff") format("woff"), url("../fonts/montserrat/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat/montserratblack.woff2") format("woff2"), url("../fonts/montserrat/montserratblack.woff") format("woff"), url("../fonts/montserrat/montserratblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  color: rgba(31, 32, 65, 0.75);
  font: 14px/24px "Montserrat";
}

h3, h2, h1 {
  color: #1f2041;
}

h1 {
  font: 24px/30px bold "Quicksand";
}

h2 {
  font: 19px/24px bold "Quicksand";
}

h3 {
  font: 12px/15px bold uppercase "Montserrat";
}

/*# sourceMappingURL=style.css.map */
